{% extends 'base.html' %}
{% block content %}

        <nav>
            <a href="/pets/new">Add pet</a>
        </nav>
    <p>{% for pet in pets %}
        Pet name: <a href="/pets/{{pet.id}}">{{pet.name}},</a>
        Type: {{pet.type}},
        Date of birth: {{pet.dob}},
        Owner: {{pet.owner_details}},
        Treatmnet: {{pet.treatment}}.
        <form action="/pets/{{pet.id}}/delete" method="post">
            <button>Remove</button>
        </form>
    {% endfor %}</p>
    
{% endblock %}