{% extends 'base.html' %}
{% block content %}
<nav>
    <a href="/pets/new">Add pet</a>
    <a href="in_care/new">Take pet in for treatment</a>
</nav>
<section id="grid-container">
    <div class="registered">
        <h2>Registered pets</h2><p>
        {% for pet in pets %}
        Pet name: <a href="/pets/{{pet.id}}">{{pet.name}},</a>
        Type: {{pet.type}},
        Date of birth: {{pet.dob}},
        Treatmnet: {{pet.treatment}}.</p>
        <form action="/pets/{{pet.id}}/delete" method="post">
            <button>Remove</button>
        </form></div>
        {% endfor %}
        
        <div class="intake">
            <h2>Pets in intake</h2>
            {% for animal in intake %}
                <p><a href="/pets/{{animal.id}}">{{animal.pet_name}}</a>, {{animal.type}}: date of intake {{animal.date_of_intake}} and treatment is {{animal.treatment}}</p>
                <form action="/in_care/{{animal.id}}/delete" method="post">
                    <button>Remove from intake</button>
                </form>
                {% endfor %}
        </div>
    </section>
{% endblock %}