{% extends 'base.html' %}
{% block content %}
    <form action="/vets/{{vet.id}}/edit" method="post">
        <label for="first_name">
            Enter first name
        </label>
        <input type="text" id="first_name" name="first_name" placeholder="Enter name" value="{{vet.first_name}}">
        <label for="last_name">
            Enter last name
        </label>
        <input type="text" id="last_name" name="last_name" placeholder="Enter last name" value="{{vet.last_name}}">
        <button>Update vet details</button>
    </form>
{% endblock %}