html {
    background-color: mintcream;
}

body {
    margin: 0;
}

header {
    display: flex;
    background-color: rgb(108, 108, 244);
    border-radius: 0% 0 5% 5%;
    align-items: baseline;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

nav a {
    margin-left: 10px;
}

ul li {
    display: flex;
    list-style: none;
}

div nav {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
}

p, a {
    margin-left: 20px;
}

p > a {
    margin-left: 0;
}

input, select {
    width: 150px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
grid-row-gap: 0px;
    }

.registered {
    grid-area: 1 / 1 / 7 / 2;
}
.intake {
    grid-area: 1 / 2 / 7 / 3;
}
