html {
    background-color: rgba(131, 193, 255, 0.69);
}

nav {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}


ul li {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

div nav {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: baseline;
}

input, select {
    margin-bottom: 10px;
    width: 150px;
}


